body {
	padding: 4.5rem;
	background: url(images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

  .card {
	width: 600px;
	height: 180px;
	background: rgba( 255, 255, 255, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4.5px );
	-webkit-backdrop-filter: blur( 4.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	margin: 0 auto;
	padding: 0;
	margin-top: 150px;
  }

  .logo {
	  content: url(images/logo.png);
	  width: 150px;
	  height: auto;
	  margin: 0 auto;
	  margin-top: 10px;
  }
  
  .intro {
	  text-align: center;
	  margin-top: 10px;
	  color: white;
	  font-family: "Zen Kurenaido", sans-serif;
	  font-size: 17px;
  }

  .tg {
	  content: url(images/tg.png);
	  margin: 0 auto;
	  margin-top: 15px;
  }