[Desktop Entry]
Version=1.0
Type=Application
Name=Google Drive
Comment=
Exec=thunar /home/Cloud/drive/
Icon=/home/Cloud/Documents/Icons/Google_Drive_logo.png
Path=
Terminal=false
StartupNotify=false
